/* 각 카페 별 이미지 */
.central-cafe img{
  width: 330px;
  height: 330px;
}

.central-cafe{
  display:flex;
  flex-direction: column;
}

.central-top{
  margin-left: 250px;
  margin-top: 50px;
  display: flex;
  gap: 80px;
}

.central-bottom{
  margin-left: 250px;
  margin-top: 30px;
  display: flex;
  gap: 120px;
}

.central-part1{
  display: flex;
  gap: 30px;
}

.central-part1 :hover{
}

/* .part-1-detail{
  display: none;
} */

.central-part2{
  display: flex;
  gap: 30px;
}

.central-part3{
  display: flex;
  gap: 30px;
}

.central-part4{
  display: flex;
  gap: 30px;
}