.western-cafe img{
  width: 330px;
  height: 330px;
}

.western-cafe{
  display:flex;
  flex-direction: column;
}
.western-top{
  margin-left: 240px;
  margin-top: 50px;
  display: flex;
  gap: 80px;
}
.western-bottom{
  margin-left: 240px;
  margin-top: 30px;
  display: flex;
  gap: 120px;
}

.western-part1{
  display: flex;
  gap: 30px;
}
.western-part2{
  display: flex;
  gap: 30px;
}
.western-part3{
  display: flex;
  gap: 30px;
}
.western-part4{
  display: flex;
  gap: 30px;
}